/* GENERAL */
html {
  font-family: Poppins;
  text-align: center;
  background: pink;
  height: 100vh;
}

body {
  margin: 0 auto; 
}

main {
  display: flex;
  justify-content: space-between;
  background: pink;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

h2, p {
  margin: 0;
}

img {
  max-height: 50%;
  max-width: 50%;
}

/* MAIN DISPLAY */
.game-console {
  max-width: 70%;
}

.home-view {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-view, form {
  margin: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.token-wrapper {
  display: flex;
  justify-content: space-around;
  padding: 10%;
  width: 60vw;
}
.token-option {
  max-height: 10%;
  max-width: 10%;
  cursor: pointer;
}

.token-option:hover, .selected-token {
  border-radius: 10px;
  background:rgb(172, 172, 235);
}
.game-mode {
  border-radius: 5%;
  background: rgb(244, 206, 213);
  width: 250px;
  max-width: 80%;
  padding: 3%;
  margin: 5%;
  cursor: pointer;
}

.game-mode:hover {
  background: rgb(254, 219, 248)
}

.player-section {
  background: rgb(244, 206, 213);
  height: 100vh;
  width: 120px;
  padding: 2%;
}

.person-icon, .computer-icon, .console-person-icon {
  max-height: 30px;
  max-width: 30px;
}

/* BUTTONS & FORMS */
button {
  background:rgb(244, 206, 213);
  border-radius: 15px;
  border: solid #e7bce7;
  cursor: pointer;
}

.login-button {
  background:rgb(244, 206, 213);
  height: 30px;
  width: 20%;
}

input {
  border-radius: 15px;
  border: none;
  height: 30px;
  width: 110%;
  text-align: center;
}

.change-game-button {
  margin-top: 50%;
  background: pink;
}

button:hover {
  background: rgb(254, 219, 248)
}

/* GAME BOARD */
.fighter {
  height: 300px;
  width: 300px;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fighter-choice-view {
  min-height: 80vh;
  max-height: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* WINNER VIEW */
.winner-wrapper {
  display: flex; 
  justify-content: center;
  align-items: center;
}

.human-selection, .computer-selection {
  max-height: 40%;
  max-width: 40%;
}

.gif {
  max-height: 15%;
  max-width: 15%;
}

/* OVERRIDES */
.hidden {
  display: none;
}